*{
    box-sizing: border-box;
    margin: 0rem;
    font-family: 'IBM Plex Mono', monospace;
    background-color: rgb(14, 14, 14);
    border-style: solid;
    border-color: #FFFFFF;
    color: #FFFFFF;
} 
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px 30px 0px;
    font-size: 24px;
}
header>div{
    background-image: url("../img/Profile-IMG.jpg");
    height: 100px;
    width: 100px;
    border-radius: 22px;
    background-position: center;
    background-size: cover;
    margin-bottom: 10px;
}

.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

.text>h2{
    font-weight: lighter;
    text-decoration: underline;
    margin-bottom: 10px;
}
.text>p{
    width: 80vw;
    font-style: italic;
    text-align: left;
    font-size: 18px;
    height: 90vw;
}

footer{
    position: absolute;
    bottom: 2vh;
    width: 90vw;
    display: flex;
    justify-content: space-between;
}
