*{
    box-sizing: border-box;
    margin: 0rem;
    font-family: 'IBM Plex Mono', monospace;
    background-color: rgb(14, 14, 14);
    /* border-style: solid;
    border-color: #FFFFFF; */
    color: #FFFFFF;
} 
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px 30px 0px;
    font-size: 7vw;
}
header>div{
    background-image: url("../img/Profile-IMG.jpg");
    height: 20vh;
    width: 80vw;
    border-radius: 22px;
    background-repeat: no-repeat;
    background-position-y: -5vh;
    background-size: cover;
}
.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
}
.text>h2{
    font-weight: lighter;
    text-decoration: underline;
    margin-top: 5vh;
    margin-bottom: 10px;
}
.text>p{
    width: 80vw;
    font-style: italic;
    text-align: left;
    font-size: 16px;
    height: 90vw;
}
.text>h2{
    display: block;
    white-space: nowrap;
    border-right: 4px solid;
    width: 12ch;
    animation: typing 1s steps(12), blink .5s 12 step-end alternate;
    overflow: hidden;
}
@keyframes typing {
    from{width: 0;}
}
@keyframes blink {
    50% {border-color: transparent}
}

footer{
    position: absolute;
    bottom: 1vh;
    margin-top: 1vh;
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
}
button{
    border-style: none;
    font-size: 5vw;
}
a{
    text-decoration: none;
}